__pycache__/
*.xlsx
*.xls
*.zip
*.pdf
*.html
*.text
*.log
!requirements.txt
!LICENSE
!README.md
!*.py
!LSMParser_Manual.pdf
!LSMParser.spec
dist/
build/
!LSM Log Files/
!LSM Log Files/*

*.pem
docs/pythonAnywareInfo/
